 <div class="simon" >
            <canvas id="greenkey" class="button" ng-click="compKey.actionPlayGreen();compKey.getUserelement.sayHello(1)" width="300" height="300"></canvas>
            <canvas id="redkey" ng-click="compKey.actionPlayRed();compKey.getUserelement.sayHello(2)" class="button" width="300" height="300"></canvas>
      
          <div>
            <canvas id="bluekey" ng-click="compKey.actionPlayBlue();compKey.getUserelement.sayHello(3)" class="button" width="300" height="300"></canvas>
            <canvas id="yellowkey" ng-click="compKey.actionPlayYellow();compKey.getUserelement.sayHello(4)" class="button" width="300" height="300"></canvas>
          </div>
      </div>    
      <div><input type="submit" ng-click="compKey.startPlay()" value="Empieza a medir tu memoria"></div>