 <div class="simon" >
            <canvas id="greenkey" class="tile" ng-click="compKey.actionPlayGreen()" width="300" height="300"></canvas>
            <canvas id="redkey" ng-click="compKey.actionPlayRed()" class="tile" width="300" height="300"></canvas>
      
          <div>
            <canvas id="bluekey" ng-click="compKey.actionPlayBlue()" class="tile" width="300" height="300"></canvas>
            <canvas id="yellowkey" ng-click="compKey.actionPlayYellow()" class="tile" width="300" height="300"></canvas>
          </div>
      </div>    
      <div><input type="submit" ng-click="compKey.playSecuence()" value="Añadir y a jugar..."></div>